


.navbar {
    background-color: #ffffff00 !important;
}

.navbar-brand span {
    color: #c92031;
    font-weight: bolder;
}

.askUs {
    float: right;
    color: #c92031;
    font-weight: bolder;
}


a.nav-link:hover {
    color: #fff !important;
}


.hero {
    background: linear-gradient(#000000ea, #000000e0), url(../assets/bg.jpg);
    color: #ffffff;
    background-size: cover;
}

.jumbotron {
    position: relative;
    height: 80vh;
    padding-top: 6rem;
    background-image: url(../assets/wave1.svg);
    background-repeat: no-repeat;
    background-position: bottom;
}

span {
      color: #c92031;
  }

  .hero-img1 {
    position: relative;
    top: 0;
    left: 0;
    width: 49%;
    z-index: 1;
    border-radius: 20px;
}

.hero-img2 {
    position: relative;
    top: 50px;
    left: -100px;
    width: 49%;
    z-index: 2;
    border-radius: 20px;
}

.buah, .buah img {
    width: 100%;
    border-radius: 15px;
}

.card{
    display: block;
    width: 180px;
    padding: 0px;
}

.card-title {
    font-size: 13px;
}

.buah img {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.buah .card-body {
    font-size: 10px;
}

.tipeBuah{
    float: right;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #47d527;
    color: #fff;
}

.about {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background: linear-gradient(#000000ea, #000000e0), url(../assets/bg.jpg);
    color: #ffffff;
    background-size: cover;
}

.about-img1 {
    position: relative;
    top: 0;
    left: 0;
    width: 42%;
    z-index: 1;
    border-radius: 20px;
}

.about-img2 {
    position: relative;
    top: 50px;
    left: -100px;
    width: 39%;
    z-index: 2;
    border-radius: 20px;
}

  button.btn-orderNow {
    border: 2px solid #D52727;
    border-radius: 15px;
    color: #D52727;
  }

    button.btn-orderNow:hover {
        background-color: #d52727;
        border: 2px solid #d52727;
        border-radius: 15px;
        color: #fff;
    }

    .pagination-btn {
        background-color: #fff;
        border: 1px solid #D52727;
        padding: 10px;
        border-radius: 10px;
        color: #D52727;
    }

    .footer {
        background: linear-gradient(#000000ea, #000000e0), url(../assets/bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        color: #fff;
        padding: 20px;
    }


    /* media screen desktop */
    @media screen and (min-width: 992px) {
        .jumbotron {
            position: relative;
            height: 95vh;
            padding-top: 6rem;
            background-image: url(../assets/wave1.svg);
            background-repeat: no-repeat;
            background-position: bottom;
        }

        .card{
            display: block;
            width: 310px;
        }

        .card-title {
            font-size: 20px;
            font-weight: bolder;
        }

        .card-text, .fruit-description {
            font-size: 12px;
        }
    }